

<div class="card">
    <div class="card-body md-12">
      <div class="row">  
          <div class="col-xl-6">
            <h1 class="text-white text-center">Registration Form</h1>
              <form #patientForm= "ngForm" (ngSubmit) = "onSubmit(patientForm)">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="patientservice.selectedPatient._id">
                  <div class="row">
                    <input type = "text" name="name"  class="text-white" #name="ngModel" [(ngModel)]="patientservice.selectedPatient.name" placeholder="FullName">
                  </div>  
                <div class="row">
                    <input type = "text" name="address"  #name="ngModel" maxlength="250"  class="text-white"[(ngModel)]="patientservice.selectedPatient.address" placeholder="Address">
                </div>
                <div class="row">
                   <input type = "text" name="phonenumber" maxlength="10" class="text-white"#name="ngModel" [(ngModel)]="patientservice.selectedPatient.phonenumber" placeholder="PhoneNumber">
                </div>
                <div class="row float-right">
                  <button class="btn btn-primary float-right" type="submit">Submit</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger float-right" type="button" (click)="resetForm(patientForm)">Reset</button>     
                </div>
              </form>
          </div>
          
          <div class="col-xl-6">
            <h1 class="text-white text-center">Patient List</h1>
              <table class="table table-success table-striped">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Address</th>
                          <th>PhoneNumber</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tr *ngFor="let pat of patientservice.patients">
                      <td>{{pat.name}}</td>
                      <td>{{pat.address}}</td>
                      <td>{{pat.phonenumber}}</td>
                      <td>
                          <a class="action-btn text-primary" (click)="onEdit(pat)">
                              <i class="material-icons" >edit</i>
                          </a>
                          <a class="action-btn text-danger" (click)="onDelete(pat._id,patientForm)">
                            <i class="material-icons">delete</i>
                          </a>
                      </td>
                  </tr>
              </table>
          </div>
    </div>
  </div>